@import "~bootstrap/scss/bootstrap";

.ai {
  position: fixed;
  z-index: 1020;
  margin-top: 70vh;

  .rs-container {
    width: 50px;
    height: 30px;
    display: block;
  
    .rs-play {
      width: 50px;
      background-color: #FF344F;
      border-radius: 20px;
      border-top-color: #FF344F;
      border-bottom-color: #FF344F;
    }
  }
}


@media (min-width: 1200px) {
  .ai {

    position: fixed;
    z-index: 1020;
    margin-top: 70vh;
  
    .rs-container {
      width: 50px;
      height: 30px;
      display: block;
    
      .rs-play {
        width: 50px;
        background-color: #FF344F;
        border-radius: 20px;
        border-top-color: #FF344F;
        border-bottom-color: #FF344F;
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ai {

    position: fixed;
    z-index: 1020;
    margin-top: 70vh;
  
    .rs-container {
      width: 50px;
      height: 30px;
      display: block;
    
      .rs-play {
        width: 50px;
        background-color: #FF344F;
        border-radius: 20px;
        border-top-color: #FF344F;
        border-bottom-color: #FF344F;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ai {

    position: fixed;
    z-index: 1020;
    margin-top: 65vh;
  
    .rs-container {
      width: 50px;
      height: 30px;
      display: block;
    
      .rs-play {
        width: 50px;
        background-color: #FF344F;
        border-radius: 20px;
        border-top-color: #FF344F;
        border-bottom-color: #FF344F;
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  .ai {

    position: fixed;
    z-index: 1020;
    margin-top: 60vh;
  
    .rs-container {
      width: 50px;
      height: 30px;
      display: block;
    
      .rs-play {
        width: 50px;
        background-color: #FF344F;
        border-radius: 20px;
        border-top-color: #FF344F;
        border-bottom-color: #FF344F;
      }
    }
  }
}

@media (max-width: 576px) {
  .ai {

    position: fixed;
    z-index: 1020;
    margin-top: 50vh;
  
    .rs-container {
      width: 50px;
      height: 30px;
      display: block;
    
      .rs-play {
        width: 50px;
        background-color: #FF344F;
        border-radius: 20px;
        border-top-color: #FF344F;
        border-bottom-color: #FF344F;
      }
    }
  }
}