@import "~bootstrap/scss/bootstrap";

.header1 {
  display: flex;
  align-items: center;
  justify-content: center;
  .home_header {
    display: flex;
    top: -25px;
    height: 135vh;
    position: relative;
    width: 100vw;
    background: url('../../../public/assets/images/hero-one-bg-1.jpg');
  
      .home_header_left {
        height: 100vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        padding: 20px;
  
        .card_inner {
          margin-top: 100px;
  
          .left_h1 {
            font-size: 90px;
            line-height: 90px;
          }
    
          .header_card {
            padding: 10px;
            width: 800px;
            position: absolute;
            margin-top: 20px;
    
            .head_card {
              display: flex;
              align-items: center;
    
              .category {
                margin: 10px;
              }
              .category_pen {
                padding: 10px;
              }
              .category_input:focus {
                border-color: transparent;
                border: 0px;
              }
            }
  
            .usevoice {
              display: block;
  
              .instruction {
                text-align: center;
                color:#FF344F;
              }
              .words {
                text-align-last: center;
              }
              .voice_btn {
                display: flex;
                justify-content: center;
              }
            }
            .submit_btn {
              padding: 0px;
              margin-top: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
  
              .sub_btn {
                margin-left: auto;
                margin-right: 20px;
              }
            }
            .submit_btn {
              padding: 0px;
              margin: 0px;
            }
          }
          .p_tag {
            margin-top: 360px;
            font-size: 15px;
          }
        }
      }
    
      .home_header_right {
        background: url('../../../public/assets/images/hero-one-bg-2.jpg');
        height: 135vh;
        right: 0;
        background-size: cover;
      }
  }
  
  
  .card_container {
    padding: 0px 30px;
    margin-bottom: 20px;

    .card_row {
  
      .card_card, .card_card1, .card_card2, .card_card3, .card_card4, .card_card5, .card_card6 {
        position: relative;
        background-color: #FFFFFF;
        padding: 0;    
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
      
    
        &::after {
          position: absolute;
          top: 0;
          right: 0;
          content: "";
          width: 1px;
          height: 100%;
          background-color: #e8ebec;
        }
  
        .inner_card {
          border: 0px;
  
          .category_icon {
            padding: 50px 30px;
            position: relative;
          }
      
          .inner_category_icon {
            transition: all 0.3s ease-in-out;
          }
        
          .icon_block {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .museum {
            width: 60px;
            height: 60px;
          }
          .card_h3 {
            text-align: center;
            font-weight: 300;
          }
      
          .category_btn {
            opacity: 0;
            bottom: 0px;
            display: none;
            background-color: #FF344F;
            position: relative;
            transition: all 0.3s ease-out;
      
            .avatar {
              margin: auto;
              width: 50px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #FFD74E;
              border-radius: 50%;
            }
          }
        }
      }
  
      .card_card:hover .category_btn, .card_card1:hover .category_btn, .card_card2:hover .category_btn, .card_card3:hover .category_btn, .card_card4:hover .category_btn, .card_card5:hover .category_btn, .card_card6:hover .category_btn{
        display: block;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        bottom: 0px;
        position: relative;
      }
      
      .card_card:hover .category_icon, .card_card1:hover .category_icon, .card_card2:hover .category_icon, .card_card3:hover .category_icon, .card_card4:hover .category_icon, .card_card5:hover .category_icon, .card_card6:hover .category_icon {
        margin-top: -30px;
        margin-bottom: -20px;
        transition: all 0.3s ease-in-out;
      }
    
      .card_card:hover .museum, .card_card1:hover .museum, .card_card2:hover .museum, .card_card3:hover .museum, .card_card4:hover .museum, .card_card5:hover .museum, .card_card6:hover .museum {
        color: #FF344F;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  
}

@media (min-width: 1200px) {
  
}

@media (min-width: 992px) and (max-width: 1199px) {
  .header1 {
    .home_header {
      display: flex;
      top: -25px;
      height: 120vh;
      position: relative;
    
        .home_header_left {
          background: url('../../../public/assets/images/hero-one-bg-1.jpg');
          height: 120vh;
          background-size: cover;
          display: flex;
          justify-content: center;
          padding: 20px;
    
          .card_inner {
            margin-top: 80px;
    
            .left_h1 {
              font-size: 60px;
              line-height: 60px;
            }
      
            .header_card {
              padding: 5px;
              width: auto;
              position: absolute;
              margin-top: 20px;
      
              .head_card {
                display: flex;
                align-items: center;
      
                .category {
                  margin: 5px;
                }
                .category_pen {
                  padding: 8px;
                }
                .category_input:focus {
                  border-color: transparent;
                  border: 0px;
                }
                .voice_btn {
                  padding: auto;
                }
              }
              .submit_btn {
                padding: 0px;
                margin: 0px;
              }
            }
            .p_tag {
              margin-top: 350px;
              font-size: 15px;
            }
          }
        }
      
        .home_header_right {
          background: url('../../../public/assets/images/hero-one-bg-2.jpg');
          height: 120vh;
          right: 0;
          background-size: cover;
        }
    }
  
    
  }
  
}

@media (min-width: 768px) and (max-width: 991px) {
  .header1 {
    .home_header {
      display: flex;
      top: -25px;
      height: 100vh;
      position: relative;
      background: url('../../../public/assets/images/hero-one-bg-1.jpg');
    
        .home_header_left {
          height: 100vh;
          background-size: cover;
          display: flex;
          justify-content: center;
          padding: 5px;
    
          .card_inner {
            margin-top: 80px;
    
            .left_h1 {
              font-size: 50px;
              line-height: 50px;
            }
      
            .header_card {
              padding: 10px;
              width: auto;
              position: relative;
              margin-top: 20px;
      
              .head_card {
                display: flex;
                align-items: center;
      
                .category {
                  margin: 10px;
                }
                .category_pen {
                  padding: 8px;
                }
                .category_input:focus {
                  border-color: transparent;
                  border: 0px;
                }
                .voice_btn {
                  padding: auto;
      
      
                  .mic {
                    width: 50px;
                    height: 50px;
      
                    &:hover {
                      color: #FF344F;
                    }
                    &:focus {
                      color: #FF344F;
                    }
                  }
                }
              }
            }
            .p_tag {
              margin-top: 20px;
              font-size: 15px;
            }
          }
        }
    }
  
    .card_container {
  
      margin-right: 30px;
      margin-left: 30px;
      padding: 0px;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
      -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.75);
    
      .card_row {
    
        .card_card, .card_card1, .card_card2, .card_card3, .card_card4, .card_card5, .card_card6 {
          position: relative;
          background-color: #FFFFFF;
          padding: 0;
      
          &::after {
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            width: 1px;
            border-top: 1px solid black;
            height: 100%;
            background-color: #e8ebec;
          }
    
          .inner_card {
            border: 0px;
    
            .category_icon {
              padding: 50px 30px;
              position: relative;
            }
        
            .inner_category_icon {
              transition: all 0.3s ease-in-out;
            }
          
            .icon_block {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .museum {
              width: 60px;
              height: 60px;
            }
            .card_h3 {
              text-align: center;
              font-weight: 300;
            }
        
            .category_btn {
              opacity: 0;
              bottom: 0px;
              display: none;
              background-color: #FF344F;
              position: relative;
              transition: all 0.3s ease-out;
        
              .avatar {
                margin: auto;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #FFD74E;
                border-radius: 50%;
              }
            }
          }
        }
    
        .card_card:hover .category_btn, .card_card1:hover .category_btn, .card_card2:hover .category_btn, .card_card3:hover .category_btn, .card_card4:hover .category_btn, .card_card5:hover .category_btn, .card_card6:hover .category_btn{
          display: block;
          opacity: 1;
          transition: all 0.3s ease-in-out;
          bottom: 0px;
          position: relative;
        }
        
        .card_card:hover .category_icon, .card_card1:hover .category_icon, .card_card2:hover .category_icon, .card_card3:hover .category_icon, .card_card4:hover .category_icon, .card_card5:hover .category_icon, .card_card6:hover .category_icon {
          margin-top: -30px;
          margin-bottom: -20px;
          transition: all 0.3s ease-in-out;
        }
      
        .card_card:hover .museum, .card_card1:hover .museum, .card_card2:hover .museum, .card_card3:hover .museum, .card_card4:hover .museum, .card_card5:hover .museum, .card_card6:hover .museum {
          color: #FF344F;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    
  }
  
}

@media (min-width: 577px) and (max-width: 767px) {
  .header1 {
    .home_header {
      display: flex;
      top: -25px;
      height: 90vh;
      position: relative;
    
        .home_header_left {
          background: url('../../../public/assets/images/hero-one-bg-1.jpg');
          height: 85vh;
          background-size: cover;
          display: flex;
          justify-content: center;
          padding: 20px;
    
          .card_inner {
            margin-top: 70px;
  
            .inner {

              .left_h1 {
                font-size: 32px;
                line-height: 50px;
              }
        
              .header_card {
                padding: 5px;
                width: 500px;
                position: relative;
                margin-top: 20px;
        
                .head_card {
                  display: block;
                  padding: 0px 5px;
    
        
                  .category {
                    margin: 5px 0px;
                  }
                  .category_pen {
                    padding: 8px;
                  }
                  .category_input:focus {
                    border-color: transparent;
                    border: 0px;
                  }
                  .voice_btn {
                    padding: auto;
        
        
                    .mic {
                      width: 50px;
                      height: 50px;
        
                      &:hover {
                        color: #FF344F;
                      }
                      &:focus {
                        color: #FF344F;
                      }
                    }
                  }
                }
                .submit_btn {
                  margin: 0px;
                }
              }
              
            .p_tag {
              margin-top: 20px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
  
}

@media (max-width: 576px) {

  .header1 {
    .header1_inner {

      .home_header {
        display: flex;
        top: -25px;
        height: 70vh;
        position: relative;
        display: flex;
        justify-content: center;
      
          .home_header_left {
            background: url('../../../public/assets/images/hero-one-bg-1.jpg');
            height: 70vh;
            background-size: cover;
            display: flex;
            justify-content: center;
      
            .card_inner {
              margin-top: 70px;
    
              .inner {
                .left_h1 {
                  font-size: 23px;
                  line-height: 1rem;
                }
          
                .header_card {
                  padding: 5px;
                  width: auto;
                  position: relative;
                  margin-top: 10px;
          
                  .head_card {
                    display: block;
                    padding: 5px;
      
          
                    .category {
                      margin: 5px 0px;
                    }
                    .category_pen {
                      padding: 8px;
                    }
                    .category_input:focus {
                      border-color: transparent;
                      border: 0px;
                    }
                  }
                  
                  .submit_btn {
                    margin: 0px;
                  }
                  .usevoice {
  
                    .instruction {
                      margin: 0px;
                    }
                    .voice_btn {
                      padding: 0px;
                      margin: 0px;
                      top: 0px;
                      position: relative;
                      
                    }
                  }
                }
                .p_tag {
                  margin-top: 20px;
                  font-size: 10px;
                }
              }
            }
          }
      }
    
      .card_container {
    
        display: flex;
        align-self: center;
        justify-self: center;
      
        .card_row {
      
          .card_card, .card_card1, .card_card2, .card_card3, .card_card4, .card_card5, .card_card6 {
            position: relative;
            background-color: #FFFFFF;
            padding: 0;
        
            &::after {
              position: absolute;
              top: 0;
              right: 0;
              content: "";
              width: 1px;
              height: 100%;
              background-color: #e8ebec;
            }
      
            .inner_card {
              border: 0px;
              margin-bottom: 10px;
      
              .category_icon {
                padding: 50px 30px;
                position: relative;
              }
          
              .inner_category_icon {
                transition: all 0.3s ease-in-out;
              }
            
              .icon_block {
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .museum {
                width: 60px;
                height: 60px;
              }
              .card_h3 {
                text-align: center;
                font-weight: 300;
              }
          
              .category_btn {
                opacity: 0;
                bottom: 0px;
                display: none;
                background-color: #FF344F;
                position: relative;
                transition: all 0.3s ease-out;
          
                .avatar {
                  margin: auto;
                  width: 50px;
                  height: 50px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #FFD74E;
                  border-radius: 50%;
                }
              }
            }
          }
      
          .card_card:hover .category_btn, .card_card1:hover .category_btn, .card_card2:hover .category_btn, .card_card3:hover .category_btn, .card_card4:hover .category_btn, .card_card5:hover .category_btn, .card_card6:hover .category_btn{
            display: block;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            bottom: 0px;
            position: relative;
          }
          
          .card_card:hover .category_icon, .card_card1:hover .category_icon, .card_card2:hover .category_icon, .card_card3:hover .category_icon, .card_card4:hover .category_icon, .card_card5:hover .category_icon, .card_card6:hover .category_icon {
            margin-top: -30px;
            margin-bottom: -20px;
            transition: all 0.3s ease-in-out;
          }
        
          .card_card:hover .museum, .card_card1:hover .museum, .card_card2:hover .museum, .card_card3:hover .museum, .card_card4:hover .museum, .card_card5:hover .museum, .card_card6:hover .museum {
            color: #FF344F;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
  }
  
}