.head {

  .header {
    padding: 5px;
    align-items: center;
  
    .left_header_section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .social_icons {
        display: flex;
        align-items: center;
        h6 {
          margin: auto;
        }
  
        .header-icons {
          height: 1.2rem;
          transition: 0.5s;
          margin: 0px 5px;
          &:hover {
            color: #FF344F;
          }
        }
      }
    }
  
    .middle_header_section {
      display: flex;
      align-items: center;
      justify-content: flex-start;
  
      h6 {
        margin: auto;
        text-align: center;
        text-align-last: center;
      }
    }
  
    .right_header_section {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .right_section {
        display: flex;
        align-items: center;
        .header_span {
          font-size: 1rem;
        }
        .icon {
          width: 1rem;
          height: 1rem;
          margin-right: 5px;
  
          &:hover {
            color: #FF344F;
            translate: 0.5s;
          }
        }
        &:hover {
          color:#FF344F
        }
      }

      .pipe {
        margin: 0px 10px;
        height: 1rem;
        display: flex;
        align-items: center;
       justify-content: flex-start;
      }

    }
  }
  
  .nav_row {
    display: flex;
    margin-right: 5px;
    margin-left: 5px;
    top: 0px;
    position: relative;
    z-index: 1000;
    background-color: #F7F7F7;
    animation: down 1500ms ease-in-out;
  
    .brand_name {
      display: flex;
      align-items: center;
      padding: 0px;
  
      .img_div {
        background-color: #FF344F;
        padding: 2px 5px;
      }

      .navigation {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;

  
        a {
          text-decoration: none;
          color: black;
          margin: 10px;
          transition: 0.5s;
          &:hover {
            color:#FF344F;
          }
        }
  
        .navigation_link {
          list-style-type: none;
        }
      }  
    }

    
    .brand_toggle_btn {
      display: flex;
      align-items: center;
      padding-right: 30px;
      justify-content: flex-end;
      margin-left: auto;
  
      .avr {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFD74E;
        margin-right: 10px;
  
      }
    }
  }
  @keyframes down {
    from {
      top: -200px;
      position: relative;
    } to {
      top: 0px;
      position: fixed;
    }
  }
  
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
  .head {
    .header {
      padding: 5px;
      align-items: center;
    
      .left_header_section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .social_icons {
          display: flex;
          align-items: center;
          h6 {
            margin: auto;
          }
    
          .header-icons {
            height: 1.2rem;
            transition: 0.5s;
            &:hover {
              color: #FF344F;
            }
          }
        }
      }
    
      .middle_header_section {
        display: flex;
        align-items: center;
        justify-content: center;
    
        h6 {
          margin: auto;
          text-align: center;
          text-align-last: center;
        }
      }
    
      .right_header_section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: auto;

        .right_section {
          display: flex;
          align-items: center;
    
          .header_span {
            font-size: 1rem;
          }
          .icon {
            width: 1rem;
            height: 1rem;
          }

          &:hover {
            color:#FF344F
          }
        }

        .pipe {
          margin: 0px 5px;
          height: 1rem;
          display: flex;
          align-items: center;
         justify-content: flex-start;
        }
      }
    }

    .nav_row {
      display: flex;
      margin: 0px 5px;
      background-color: #F7F7F7;
      position: sticky;
    
      .brand_name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    
        .img_div {
          background-color: #FF344F;
          padding: 2px 5px;
          display: flex;
          justify-content: center;
        }

        .navigation {
          display: none;
        }
      }
    
      .brand_toggle_btn {
        display: flex;
        align-items: center;
        padding-right: 20px;
        justify-content: flex-end;
        margin-right: auto;
    
        .avr {
          display: none;
    
        }
        .show {
          border: 0px;
          margin-left: 20px;
          background-color: transparent;
          .open, .close {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .head {
    .header {
      padding: 5px;
      align-items: center;
    
      .left_header_section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .social_icons {
          display: flex;
          align-items: center;
          h6 {
            margin: auto;
          }
    
          .header-icons {
            height: 1.2rem;
            transition: 0.5s;
            &:hover {
              color: #FF344F;
            }
          }
        }
      }
    
      .middle_header_section {
        display: flex;
        align-items: center;
        justify-content: center;
    
        h6 {
          margin: auto;
          text-align: center;
          text-align-last: center;
        }
      }
    
      .right_header_section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: auto;
    
        .header_span {
          font-size: 1rem;
        }
        .icon {
          width: 1rem;
          height: 1rem;
          margin-right: 10px;
        }
    
        .pipe {
          margin: 0px 10px;
          height: 1rem;
          display: flex;
          align-items: center;
         justify-content: flex-start;
        }
      }
    }

    .nav_row {
      display: flex;
      margin: 0px 5px;
      background-color: #F7F7F7;
    
      .brand_name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    
        .img_div {
          background-color: #FF344F;
          padding: 2px 5px;
          display: flex;
          justify-content: center;
        }
  
        .navigation {
          display: none;
        }
      }
    
      .brand_toggle_btn {
        display: flex;
        align-items: center;
        padding-right: 20px;
        justify-content: flex-end;
        margin-right: auto;
    
        .avr {
          display: none;
        }
        .show {
          border: 0px;
          margin-left: 20px;
          background-color: transparent;          
          .open, .close {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  
  }
}

@media (min-width: 577px) and (max-width: 767px) {

  .head {
    .header {
      padding: 5px;
      align-items: center;
    
      .left_header_section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .social_icons {
          display: flex;
          align-items: center;
          h6 {
            margin: auto;
          }
    
          .header-icons {
            height: 1.2rem;
            transition: 0.5s;
            &:hover {
              color: #FF344F;
            }
          }
        }
      }
    
      .middle_header_section {
        display: flex;
        align-items: center;
        justify-content: center;
    
        h6 {
          margin: auto;
          text-align: center;
          text-align-last: center;
        }
      }
    
      .right_header_section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: auto;
        margin-top: 20px;
    
        .header_span {
          font-size: 1rem;
        }
        .icon {
          width: 1rem;
          height: 1rem;
          margin-right: 10px;
        }
    
        .pipe {
          margin: 0px 10px;
          height: 1rem;
          display: flex;
          align-items: center;
         justify-content: flex-start;
        }
      }
    }

    .nav_row {
      display: flex;
      margin: 0px 5px;
      background-color: #F7F7F7;
    
      .brand_name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    
        .img_div {
          background-color: #FF344F;
          padding: 0px 10px;
          display: flex;
          justify-content: center;
        }
  
        .navigation {
          display: none;
        }
      }
    
      .brand_toggle_btn {
        display: flex;
        align-items: center;
        padding-right: 10px;
        justify-content: flex-end;
        margin-right: auto;
    
        .avr {
          display: none;
        }
        .show {
          border: 0px;
          margin-left: 20px;
          background-color: transparent;
          margin-left: auto;
          .open, .close {
            width: 30px;
            height: 30px;
          }
        }

        .header_nav_bls_btn {
          display: none;
        }
      }
    }
  
  }
}

@media (max-width: 576px) {
  .head {
    .header {
      padding: 5px;
      align-items: center;
    
      .left_header_section {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        .social_icons {
          display: flex;
          align-items: center;
          h6 {
            margin: auto;
          }
    
          .header-icons {
            height: 1.2rem;
            transition: 0.5s;
            &:hover {
              color: #FF344F;
            }
          }
        }
      }
    
      .middle_header_section {
        display: flex;
        align-items: center;
        justify-content: center;
    
        h6 {
          margin: auto;
          text-align: center;
          text-align-last: center;
        }
      }
    
      .right_header_section {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: auto;
        margin-top: 20px;
    
        .header_span {
          font-size: 1rem;
        }
        .icon {
          width: 1rem;
          height: 1rem;
          margin-right: 10px;
        }
    
        .pipe {
          margin: 0px 10px;
          height: 1rem;
          display: flex;
          align-items: center;
         justify-content: flex-start;
        }
      }
    }

    .nav_row {
      display: flex;
      margin: 0px 5px;
      background-color: #F7F7F7;
    
      .brand_name {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px;
    
        .img_div {
          background-color: #FF344F;
          padding: 0px 5px;
          display: flex;
          justify-content: center;
        }
  
        .navigation {
          display: none;
        }
      }
    
      .brand_toggle_btn {
        display: flex;
        align-items: center;
        padding-right: 10px;
        justify-content: flex-end;
        margin-right: auto;
    
        .avr {
          display: none;
        }
        .show {
          border: 0px;
          margin-left: 20px;
          background-color: transparent;
          margin-left: auto;
          .open, .close {
            width: 25px;
            height: 25px;
          }
        }

        .header_nav_bls_btn {
          display: none;
        }
      }
    }
  
  }
  
}

.offcanvas.offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm  {
  --bs-offcanvas-width: 300px;
  --bs-offcanvas-height: 30vh;
}

.offcanvas-body {
  .offcas_nav {
    list-style-type: none;
    padding: 0px;
    margin: 0px;

    a {
      text-decoration: none;
      color: black;
    }
    .offcas_list:hover {
      color:#FF344F
    }
    .offcas_list:focus {
      color:#FF344F;
    }
  }
}

.offcanvas-header .btn-close {
  margin-left: auto;
  background-color: #FF344F;
  color: white;
}
.offcanvas-header:hover .btn-close:hover {
  color:#FF344F;
}
