@import "~bootstrap/scss/bootstrap";

.footer-area {
  display: flex;
  align-items: center;
  position: relative;
  height: auto;
  bottom: 0;
  top: auto;
  margin-top: auto;
  .dark-black {
    background-color: #121416;
    padding-top: 90px;
    width: 100%;
    height: 100%;
    color: white;

    .footer_top {

      .f_container {
        padding-left: 10px;
        padding-right: 10px;

        .widget-title {
          font-weight: 600;
          line-height: 1.2rem;
          margin-bottom: 20px;
        }
  
        .btn_div {
          display: flex;
  
          .f_bls_btn {
            position: relative;
            border-radius: 5px;
            border: 0px;
            height: 60px; 
            background-color: white;
            overflow: hidden;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 5px;
          }
          
          .f_btn_child {
            position: relative;
            transition: 0.5s;
            font-size: 25px;
            text-decoration: none;
            color: black;
            display: flex;
  
            .android, .apple {
              color:#FF344F;
            }
            
          }
          
          .f_bls_btn::before {
            content: '';
            top: 0px;
            left: 0px;
            position: absolute;
            width: 250px;
            height: 60px;  
            background-color: #FF344F;
            padding: 0px;
            color: white;
            transform: translate(0%, 100%) skew(0deg);
            transition: 0.5s;
          }
          
          .f_bls_btn:hover::before {
            transform: translate(0%, 0) skew(0deg);
          }
  
          .f_bls_btn:hover .f_btn_child {
            color: white;
  
            .android, .apple {
              color:white;
            }
          }
        }
  
        .footer-social {
          display: flex;
          align-items: center;
  
          .footer-social-body {
  
            h4 {
              margin-top: 10px;
            }
  
            .social-link{
  
              .social_icon1, .social_icon2, .social_icon3, .social_icon {
                margin: 5px;
                text-decoration: none;
                color: white;
              }
              .social_icon1:hover, .social_icon2:hover, .social_icon3:hover, .social_icon:hover {
                color: #FF344F;
                transition: 0.3s ease-in-out;
              }
            }
          }
        }
  
        .title_news {
          font-weight: 600;
          line-height: 1.2rem;
          margin-bottom: 20px;
        }
          
        .title_news_list {
          list-style-type:none;
          padding-left: 0px;
          margin-left: 0px;

          .title_list, .post-content-item {
        

            .title_date, .post-title-date {

              .posted_on {
                a {
                  color: #676755;
                  text-decoration: none;
                }

              }

                
              .title {
                margin-top: 30px;
                .title_link {
                  text-decoration: none;
                  color: white;
                  a {
                    text-decoration: none;
                    color: white;
                    &:hover {
                      color: #FF344F;;
                    }
                  }
                }
              }
            }

          }

          .post-content-item {

            .post-title-date {
              margin-top: 20px;
            }
          }
        }

        .widget-title {
          font-weight: 600;
          line-height: 1.2rem;
          margin-bottom: 20px;
        }

        .categories-link {
          list-style-type: none;
          margin-left: 0px;
          padding-left: 0px;

          .li_side {
            display: flex;

            .side_icon {
              margin-right: 5px;
              
              .side_arrow_icon {
                color: white;
                height: 30px;
              }
            }
            .side_a {
              .inner_side_a {
                text-decoration: none;
                color: white;
              }
            }

            &:hover .side_icon {
              margin-right: 10px;
              transition: 0.3 ease-in-out;
            }
            &:hover .side_icon .side_arrow_icon {
              color:#FF344F;
              transition: 0.3 ease-in-out;
            }
            &:hover .side_a .inner_side_a {
              color:#FF344F;
              transition: 0.3 ease-in-out;
            }
          }
        }

        .form_group1 {
          padding: 10px;
          background-color: white;
          border: 0px;

          .form_control {
            border: 0px;
            background-color: white;
            box-shadow: none;
          }
          input:focus, .form_control:focus {
            box-shadow: none;
            border: 0px;
            border-color: white;
          }
        }
      }
    }
  }

  .copyright-area {
    .f_container_f {

      .copyright-link {

        .f_ul {
          list-style-type: none;
          display: flex;
          padding: 0px;
          margin: 0px;
          align-items: center;
          justify-content: center;

          li {
            margin: 10px;
            a {
              text-decoration: none;
              color: white;
            }
          };
        }
      }
    }
  }
}