.bls_btn {
  position: relative;
  border-radius: 50px;
  border: 0px;
  width: 250px;
  height: 60px; 
  background-color: #FF344F;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_child {
  position: relative;
  transition: 0.5s;
  font-size: 25px;
}

.bls_btn::before {
  content: '';
  top: 0px;
  left: 0px;
  position: absolute;
  width: 250px;
  height: 60px;  
  background-color: black;
  padding: 0px;
  color: white;
  transform: translate(0%, 100%) skew(0deg);
  transition: 0.5s;
}

.bls_btn:hover::before {
  transform: translate(0%, 0) skew(0deg);
}