@import "~bootstrap/scss/bootstrap";
.App {

  body {
    padding: 0px;
    margin: 0px;
    top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
  }
  .input-group {
    align-items: center;
    background-color: #F7F7F7;
    padding: 10px;

    .form-control, .form-select, .form_group {
      border: 0px;
      background-color: #F7F7F7;
    }
    input:focus, select:focus {
      box-shadow: none;
      border-color: white;
    }
    option {
      color: #FF344F;
    }
    .form-select:hover, option:hover {
      background-color:#F7F7F7;
      color: brown;
      transition: all 0.3s ease-in-out;
    }
    /* 
    .form-control:focus {
      box-shadow: none;
      border-color: white;
    } */
  }

  .d_location_map {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}